{{ form_start(newsletterform, {'attr': {'class': 'flex flex-wrap justify-content-center align-items-center'}}) }}
    <div class="col-md-12 col-lg-3">
        {{ form_widget(newsletterform.name, {'attr': {'placeholder': 'Name'}}) }}
    </div>
    <div class="col-md-12 col-lg-6">
        {{ form_widget(newsletterform.email, {'attr': {'placeholder': 'Your e-mail'}}) }}
    </div>
    <div class="col-md-12 col-lg-3">
        <input class="btn gradient-bg" type="submit" value="Subscribe">
    </div>
{{ form_end(newsletterform) }}

{# oiginal html form from colorlib template #}
<!-- <form class="flex flex-wrap justify-content-center align-items-center">
    <div class="col-md-12 col-lg-3">
        <input type="text" placeholder="Name">
    </div>

    <div class="col-md-12 col-lg-6">
        <input type="email" placeholder="Your e-mail">
    </div>

    <div class="col-md-12 col-lg-3">
        <input class="btn gradient-bg" type="submit" value="Subscribe">
    </div>
</form> -->